*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.imgDiv{
  width: 50%
}
.imgDiv img{
  width: 100%;
}
.cardDiv{
  max-width: 300px;
}
.card{
  box-shadow: 0px 5px 5px grey;
}
.number{
  width: 40px;
}

.cardContainer{
  min-height: 615px;
}